@using MauiAppBlazor.Models;




<div class="card-body">
    <h5 class="card-title mb-3">
        @TitleText
    </h5>
    <p class="card-text">
        @foreach (var prodGroup in CheckCatalogs)
        {
            <div class="card mb-2 mt-2">
                <div class="row">
                    <div class="card-body col-md-3">
                        <h5 class="card-title mb-3">
                            @prodGroup.Name &nbsp @prodGroup.Price &nbsp X &nbsp @prodGroup.Amount &nbsp = &nbsp @prodGroup.TotalPrice
                        </h5>
                    </div>
                </div>
            </div>
        }
    </p>
    <p class="card-text">Вся сума:&nbsp TotalPrice </p>
    <p class="card-text">@Date.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</p>
</div>

@code {
    [Parameter]
    public IEnumerable<Product> CheckCatalogs { get; set; }
    [Parameter]
    public string TitleText { get; set; }
    [Parameter]
    public double TotalPrice { get; set; }
    [Parameter]
    public DateTime Date { get; set; }
}
